package ${package.Controller};

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

import ${cfg.facadeClassName};
import ${cfg.dtoClassName};
import ${cfg.voClassName};

/**
 * @auther ${author}
 * @create ${cfg.dateTime}
 * @describe $!{table.comment}前端控制器
 */

@RestController
@RequestMapping("/${package.ModuleName}")
public class ${cfg.controllerName} {
	
	/** 注入Facade  */
	@Autowired
	private ${cfg.facadeName} obj${cfg.facadeName};

	
	/**
	 * 根据id查询信息
	 * @param id id
	 * @return obj${cfg.voName}
	 */
	@GetMapping("/get${entity}")
	public ${cfg.voName} get${entity}(@RequestParam String id){
		return obj${cfg.facadeName}.get(id);
	}
	
	/**
	 * 新增
	 * @param obj${cfg.dtoName} obj${cfg.dtoName}
	 */
	@PostMapping("/add${entity}")
	public void add${entity}(@RequestBody ${cfg.dtoName} obj${cfg.dtoName}){
		obj${cfg.facadeName}.add(obj${cfg.dtoName});
	}

	/**
	 * 更新
	 * @param obj${cfg.dtoName} obj${cfg.dtoName}
	 */
	@PostMapping("/update${entity}")
	public void update${entity}(@RequestBody ${cfg.dtoName} obj${cfg.dtoName}){
		obj${cfg.facadeName}.update(obj${cfg.dtoName});
	}
	
	/**
	 * 删除
	 * @param ids ids
	 */
	@PostMapping("/delete${entity}")
	public void delete${entity}(@RequestBody List<String> ids){
		obj${cfg.facadeName}.delete(ids);
	}
	
}